<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>페이지를 찾을 수 없습니다.</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/layout03.css" />
  </head>
  <body>
    <div class="notFound">
      <!-- <img src="/images/error/404.png" alt="" /> -->
      <div class="error">
        <h2>404</h2>
        <p class="gray">Not Found</p>
        <p>
          ****************************************************************************************
        </p>
        <p>The resource requested could not be found on this server !</p>
        <p>페이지를 찾을 수 없습니다.</p>
        <p>未找到页面 。</p>
        <p>ページが見つかりません。</p>
        <p>Страница не найдена.</p>
        <p>No se pudo encontrar la página.</p>
        <p>ไม่พบหน้ากระดาษ</p>
      </div>
      <div class="home">
        <a href="/">HOME</a>
      </div>
    </div>
  </body>
</html>
