<%- include("./include/header") %>
    <div class="subVisual" id="subVisual01">
      <div class="titleBox">
        <h2 class="subTitle">Company</h2>
        <p>우리는, 도시경관사업의 최고기업이 되고 시장을 선도한다!</p>
      </div>
      <nav id="lnb">
        <div class="container">
          <a href="/" class="home">HOME</a>
          <div class="depth01 menu">
            <button>company</button>
            <%- include("./include/depth01") %>
          </div>
          <div class="depth02 menu">
            <button>사업개요</button>
            <%- include("./include/lnb01") %>
          </div>
        </div>
      </nav>
    </div>
    <div class="subContents">
      <h3 class="contentsTitle">인사말</h3>
      <div class="contents" id="greeting">
        <div class="container">
          <img src="../images/contents/greetingImg.jpg" alt="" />
          <div class="desc">
            <div class="headTxt">
              우리는, 도시경관사업의 <br />
              <strong>최고기업이 되고 <span class="red">시장을 선도한다.</span></strong>
            </div>
            <div class="txtBox">
              <p>
                하이탑은 2000년 창업 이래 신뢰경영, 인재중시경영, 품질경영의 3대경영방침을 바탕으로 창의적인 도전과 지속적인 경영혁신을 통해, 대한민국의 특수포장건설과 도시경관사업 분야를 선도하는
                리딩기업으로의 역할을 다하고 있습니다.
              </p>

              <p>
                하이탑은 도시경관용 포장재, 친환경기능성 포장재, 플라스틱바닥재, 스포츠필드 관련사업 등 도시경관 관련사업의 핵심리더로서, 사업 전반의 인프라를 지속적으로 확장하여 국내 시장은 물론
                글로벌 시장으로 서비스를 확대해 나가고 있습니다.
              </p>

              <p>앞으로도 하이탑은 지속적이고 핵심적인 아이템 개발과 생산 및 서비스 제공으로 기업 경쟁력을 강화하고 고객기업의 Value Chain 확대를 통해 대한민국 건설 산업 발전에 기여하겠습니다.</p>

              <p>
                우리는 끊임없는 연구개발과 기술투자로 도시경관에 관련된 사업분야에서, 최고의 기업 입지를 지속적으로 유지하고 무한한 자긍심을 지닌 하이탑인이 되고자 합니다. 또한 하이탑인은 최선을 다해
                일하고 최대의 성과를 내어 최고의 대우를 받는 정예요원이 되어 고객님께 양질의 서비스를 제공하기 위해 더욱 더 노력할 것입니다.
              </p>

              <p>
                우리는 스스로를 최고라 말하지 않습니다. 끊임없는 연구개발과 굳은 신념으로 도시경관사업 전문기업의 자긍심을 가지고 오늘도 하이탑의 용광로는 불타고 있으며, 저희 임직원 모두 는 최선을
                다할 것입니다. <br />
                감사합니다.
              </p>
              <p>(주)하이탑 임직원 일동</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("./include/footer") %>
  </body>
</html>
