<%- include("./include/header") %>
<div class="subVisual" id="subVisual01">
  <div class="titleBox">
    <h2 class="subTitle">Company</h2>
    <p>우리는, 도시경관사업의 최고기업이 되고 시장을 선도한다!</p>
  </div>
  <nav id="lnb">
    <div class="container">
      <a href="/" class="home">HOME</a>
      <div class="depth01 menu">
        <button>company</button>
        <%- include("./include/depth01") %>
      </div>
      <div class="depth02 menu">
        <button>사업개요</button>
        <%- include("./include/lnb01") %>
      </div>
    </div>
  </nav>
</div>
<div class="subContents">
  <h3 class="contentsTitle">회사연혁</h3>
  <div class="contents" id="history">
    <div class="container">
      <div class="tab">
        <ul class="tabMenu">
          <li class="active"><a href="#history01">NOW ~ 2016</a></li>
          <li><a href="#history02">2015 ~ 2011</a></li>
          <li><a href="#history03">2010 ~ 2006</a></li>
          <li><a href="#history04">2005 ~ 2000</a></li>
        </ul>
        <ul class="tabContents">
          <li id="history01">
            <ul class="historyBox">
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2021</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">12월</span>
                      <p>G-PASS 기업 선정(조달청)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2020</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">7월</span>
                      <p>ISO 9001:2015, ISO 14001:2015 품질경영시스템 인증 취득</p>
                    </li>
                    <li>
                      <span class="month">2월</span>
                      <p>성과공유형 기업 인증(고용노동부)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2019</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>건설업 면허 추가(도장공사업)</p>
                    </li>
                    <li>
                      <span class="month">8월</span>
                      <p>플라스틱바닥재 조달청 벤쳐나라 등록 완료</p>
                    </li>
                    <li>
                      <span class="month">5월</span>
                      <p>우수발명품 인증(특허청) 취득</p>
                    </li>
                    <li>
                      <span class="month">2월</span>
                      <p>조달납품 전 품목 KS 및 단체표준 인증 취득(총 6건)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2018</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>건설업 면허 추가(도장공사업)</p>
                    </li>
                    <li>
                      <span class="month">8월</span>
                      <p>플라스틱바닥재 조달청 벤쳐나라 등록 완료</p>
                    </li>
                    <li>
                      <span class="month">5월</span>
                      <p>우수발명품 인증(특허청) 취득</p>
                    </li>
                    <li>
                      <span class="month">2월</span>
                      <p>조달납품 전 품목 KS 및 단체표준 인증 취득(총 6건)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2017</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>건설업 면허 추가(도장공사업)</p>
                    </li>
                    <li>
                      <span class="month">8월</span>
                      <p>플라스틱바닥재 조달청 벤쳐나라 등록 완료</p>
                    </li>
                    <li>
                      <span class="month">5월</span>
                      <p>우수발명품 인증(특허청) 취득</p>
                    </li>
                    <li>
                      <span class="month">2월</span>
                      <p>조달납품 전 품목 KS 및 단체표준 인증 취득(총 6건)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2016</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>건설업 면허 추가(도장공사업)</p>
                    </li>
                    <li>
                      <span class="month">8월</span>
                      <p>플라스틱바닥재 조달청 벤쳐나라 등록 완료</p>
                    </li>
                    <li>
                      <span class="month">5월</span>
                      <p>우수발명품 인증(특허청) 취득</p>
                    </li>
                    <li>
                      <span class="month">2월</span>
                      <p>조달납품 전 품목 KS 및 단체표준 인증 취득(총 6건)</p>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
          <li id="history02">
            <ul class="historyBox">
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2021</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">12월</span>
                      <p>G-PASS 기업 선정(조달청)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2020</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">7월</span>
                      <p>ISO 9001:2015, ISO 14001:2015 품질경영시스템 인증 취득</p>
                    </li>
                    <li>
                      <span class="month">2월</span>
                      <p>성과공유형 기업 인증(고용노동부)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2019</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>건설업 면허 추가(도장공사업)</p>
                    </li>
                    <li>
                      <span class="month">8월</span>
                      <p>플라스틱바닥재 조달청 벤쳐나라 등록 완료</p>
                    </li>
                    <li>
                      <span class="month">5월</span>
                      <p>우수발명품 인증(특허청) 취득</p>
                    </li>
                    <li>
                      <span class="month">2월</span>
                      <p>조달납품 전 품목 KS 및 단체표준 인증 취득(총 6건)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2018</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>건설업 면허 추가(도장공사업)</p>
                    </li>
                    <li>
                      <span class="month">8월</span>
                      <p>플라스틱바닥재 조달청 벤쳐나라 등록 완료</p>
                    </li>
                    <li>
                      <span class="month">5월</span>
                      <p>우수발명품 인증(특허청) 취득</p>
                    </li>
                    <li>
                      <span class="month">2월</span>
                      <p>조달납품 전 품목 KS 및 단체표준 인증 취득(총 6건)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2017</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>건설업 면허 추가(도장공사업)</p>
                    </li>
                    <li>
                      <span class="month">8월</span>
                      <p>플라스틱바닥재 조달청 벤쳐나라 등록 완료</p>
                    </li>
                    <li>
                      <span class="month">5월</span>
                      <p>우수발명품 인증(특허청) 취득</p>
                    </li>
                    <li>
                      <span class="month">2월</span>
                      <p>조달납품 전 품목 KS 및 단체표준 인증 취득(총 6건)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2016</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>건설업 면허 추가(도장공사업)</p>
                    </li>
                    <li>
                      <span class="month">8월</span>
                      <p>플라스틱바닥재 조달청 벤쳐나라 등록 완료</p>
                    </li>
                    <li>
                      <span class="month">5월</span>
                      <p>우수발명품 인증(특허청) 취득</p>
                    </li>
                    <li>
                      <span class="month">2월</span>
                      <p>조달납품 전 품목 KS 및 단체표준 인증 취득(총 6건)</p>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
          <li id="history03">
            <ul class="historyBox">
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2021</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">12월</span>
                      <p>G-PASS 기업 선정(조달청)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2020</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">7월</span>
                      <p>ISO 9001:2015, ISO 14001:2015 품질경영시스템 인증 취득</p>
                    </li>
                    <li>
                      <span class="month">2월</span>
                      <p>성과공유형 기업 인증(고용노동부)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2019</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>건설업 면허 추가(도장공사업)</p>
                    </li>
                    <li>
                      <span class="month">8월</span>
                      <p>플라스틱바닥재 조달청 벤쳐나라 등록 완료</p>
                    </li>
                    <li>
                      <span class="month">5월</span>
                      <p>우수발명품 인증(특허청) 취득</p>
                    </li>
                    <li>
                      <span class="month">2월</span>
                      <p>조달납품 전 품목 KS 및 단체표준 인증 취득(총 6건)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2018</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>건설업 면허 추가(도장공사업)</p>
                    </li>
                    <li>
                      <span class="month">8월</span>
                      <p>플라스틱바닥재 조달청 벤쳐나라 등록 완료</p>
                    </li>
                    <li>
                      <span class="month">5월</span>
                      <p>우수발명품 인증(특허청) 취득</p>
                    </li>
                    <li>
                      <span class="month">2월</span>
                      <p>조달납품 전 품목 KS 및 단체표준 인증 취득(총 6건)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2017</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>건설업 면허 추가(도장공사업)</p>
                    </li>
                    <li>
                      <span class="month">8월</span>
                      <p>플라스틱바닥재 조달청 벤쳐나라 등록 완료</p>
                    </li>
                    <li>
                      <span class="month">5월</span>
                      <p>우수발명품 인증(특허청) 취득</p>
                    </li>
                    <li>
                      <span class="month">2월</span>
                      <p>조달납품 전 품목 KS 및 단체표준 인증 취득(총 6건)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2016</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>건설업 면허 추가(도장공사업)</p>
                    </li>
                    <li>
                      <span class="month">8월</span>
                      <p>플라스틱바닥재 조달청 벤쳐나라 등록 완료</p>
                    </li>
                    <li>
                      <span class="month">5월</span>
                      <p>우수발명품 인증(특허청) 취득</p>
                    </li>
                    <li>
                      <span class="month">2월</span>
                      <p>조달납품 전 품목 KS 및 단체표준 인증 취득(총 6건)</p>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
          <li id="history04">
            <ul class="historyBox">
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2021</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">12월</span>
                      <p>G-PASS 기업 선정(조달청)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2020</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">7월</span>
                      <p>ISO 9001:2015, ISO 14001:2015 품질경영시스템 인증 취득</p>
                    </li>
                    <li>
                      <span class="month">2월</span>
                      <p>성과공유형 기업 인증(고용노동부)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2019</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>건설업 면허 추가(도장공사업)</p>
                    </li>
                    <li>
                      <span class="month">8월</span>
                      <p>플라스틱바닥재 조달청 벤쳐나라 등록 완료</p>
                    </li>
                    <li>
                      <span class="month">5월</span>
                      <p>우수발명품 인증(특허청) 취득</p>
                    </li>
                    <li>
                      <span class="month">2월</span>
                      <p>조달납품 전 품목 KS 및 단체표준 인증 취득(총 6건)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2018</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>건설업 면허 추가(도장공사업)</p>
                    </li>
                    <li>
                      <span class="month">8월</span>
                      <p>플라스틱바닥재 조달청 벤쳐나라 등록 완료</p>
                    </li>
                    <li>
                      <span class="month">5월</span>
                      <p>우수발명품 인증(특허청) 취득</p>
                    </li>
                    <li>
                      <span class="month">2월</span>
                      <p>조달납품 전 품목 KS 및 단체표준 인증 취득(총 6건)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2017</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>건설업 면허 추가(도장공사업)</p>
                    </li>
                    <li>
                      <span class="month">8월</span>
                      <p>플라스틱바닥재 조달청 벤쳐나라 등록 완료</p>
                    </li>
                    <li>
                      <span class="month">5월</span>
                      <p>우수발명품 인증(특허청) 취득</p>
                    </li>
                    <li>
                      <span class="month">2월</span>
                      <p>조달납품 전 품목 KS 및 단체표준 인증 취득(총 6건)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2016</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>건설업 면허 추가(도장공사업)</p>
                    </li>
                    <li>
                      <span class="month">8월</span>
                      <p>플라스틱바닥재 조달청 벤쳐나라 등록 완료</p>
                    </li>
                    <li>
                      <span class="month">5월</span>
                      <p>우수발명품 인증(특허청) 취득</p>
                    </li>
                    <li>
                      <span class="month">2월</span>
                      <p>조달납품 전 품목 KS 및 단체표준 인증 취득(총 6건)</p>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%- include("./include/footer") %>
