<%- include("./include/header") %>

<!-- header end -->
<section id="mainVisual">
  <ul class="swiper-wrapper">
    <li class="swiper-slide visual01">
      <div class="aniMask">
        <div class="img"></div>
      </div>
    </li>
    <li class="swiper-slide visual02">
      <div class="aniMask">
        <div class="img"></div>
      </div>
    </li>
    <li class="swiper-slide visual03">
      <div class="aniMask">
        <div class="img"></div>
      </div>
    </li>
  </ul>

  <div class="slogan">
    <h2 data-splitting>High Technology TOP Peoples</h2>
    <p data-splitting>
      아름답고 쾌적한 거리, 안전하고 차별화 된 공간을 원하십니까?<br />
      최고의 기술을 가진 최상의 조직! 자연을 닮은 제품을 제공하는 하이탑입니다.
    </p>
  </div>
  <div class="pagination">
    <div class="bullets"></div>
    <div class="autoBtns">
      <button class="pause"><span class="material-icons"> pause_circle </span></button>
      <button class="play"><span class="material-icons"> play_circle </span></button>
    </div>
  </div>
  <button class="prev btn">
    <span class="material-icons">chevron_left</span>
  </button>
  <button class="next btn">
    <span class="material-icons">chevron_right</span>
  </button>

  <div class="iconScroll">
    <span class="icon"></span>
    <span class="txt">SCROLL</span>
  </div>
</section>

<!-- mainVisual end -->

<section id="quickMenu" class="section">
  <h2 class="blind">바로가기 메뉴</h2>
  <div class="container">
    <ul class="list">
      <li>
        <a href="">
          <img src="./images/main/mainLink01.jpg" alt="" />
          <div class="txtBox">
            <p>최고의 기술, 최상의 조직</p>
            <!--prettier-ignore -->
            <h3>ABOUT <br> COMPANY</h3>
            <!--자동저장시 줄바꿈무시함 한줄만-->
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <img src="./images/main/mainLink02.jpg" alt="" />
          <div class="txtBox">
            <p>하이탑이 꿈꾸는 세상</p>
            <!--prettier-ignore -->
            <h3>CATALOG <br> DOWNLOAD</h3>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <img src="./images/main/mainLink03.jpg" alt="" />
          <div class="txtBox">
            <p>변화를 주도하는 하이탑인</p>
            <!--prettier-ignore -->
            <h3>RECRUIT <br> HITOP PEOPLE</h3>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
<!-- quickMenu end -->
<section id="business" class="section">
  <div class="titleBox">
    <h2>BUSINESS FIELD</h2>
    <p>하이탑이 디자인에서 설계, 시공까지 확실하게 책임지겠습니다.</p>
  </div>
  <div class="container">
    <ul class="list">
      <li>
        <a href="">
          <img src="./images/main/businessField01.jpg" alt="" />

          <div class="txtBox">
            <h3>경관용 포장재</h3>
            <p>아트크리트, 텍스크리트, 패턴크리트, 흙콘크리트, 실코트</p>
          </div>
        </a>
        <div class="border">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </li>
      <li>
        <a href="">
          <img src="./images/main/businessField02.jpg" alt="" />

          <div class="txtBox">
            <h3>기능성 포장재</h3>
            <p>탄성포장재, 충격흡수바닥재, 미끄럼방지포장재, 폴리우레아방수재, 열교환도료</p>
          </div>
        </a>
        <div class="border">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </li>
      <li>
        <a href="">
          <img src="./images/main/businessField03.jpg" alt="" />

          <div class="txtBox">
            <h3>조립식 바닥재</h3>
            <p>PP바닥재, 잔디보호매트, 핵사페이브, 코코블럭</p>
          </div>
        </a>
        <div class="border">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </li>
      <li>
        <a href="">
          <img src="./images/main/businessField04.jpg" alt="" />

          <div class="txtBox">
            <h3>스포츠필드</h3>
            <p>아크릴바닥재, 육상트랙, 우레탄바닥재, 학교운동장</p>
          </div>
        </a>
        <div class="border">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- business end -->
<section id="news" class="section">
  <div class="titleBox">
    <h2>HITOP NEWS</h2>
    <p>도시경관사업의 시장을 선도하는 하이탑의다양한 소식을 전해드립니다.</p>
  </div>
  <div class="container">
    <ul class="list swiper-wrapper">
      <li class="swiper-slide">
        <a href="">
          <img src="./images/main/news01.jpg" alt="" />
          <div class="desc">
            <h3>선거휴무공지 가나다마라말나라나란라나란라나라ㅏ</h3>
            <p class="txt">
              대통령은 조국의 평화적 통일을 위한 성실한 의무를 진다. 국회에서 의결된 법률안은 정부에 이송되어 15일 이내에 대통령이 공포한다. 국가는 주택개발정책등을 통하여 모든 국민이 쾌적한
              주거생활을 할 수 있도록 노력하여야 한다.
            </p>
            <p class="date">2022-05-09</p>
          </div>
        </a>
      </li>
      <li class="swiper-slide">
        <a href="">
          <img src="./images/main/news02.jpg" alt="" />
          <div class="desc">
            <h3>선거휴무공지</h3>
            <p class="txt">
              대통령은 조국의 평화적 통일을 위한 성실한 의무를 진다. 국회에서 의결된 법률안은 정부에 이송되어 15일 이내에 대통령이 공포한다. 국가는 주택개발정책등을 통하여 모든 국민이 쾌적한
              주거생활을 할 수 있도록 노력하여야 한다.
            </p>
            <p class="date">2022-05-09</p>
          </div>
        </a>
      </li>
      <li class="swiper-slide">
        <a href="">
          <img src="./images/main/news03.jpg" alt="" />
          <div class="desc">
            <h3>선거휴무공지</h3>
            <p class="txt">
              대통령은 조국의 평화적 통일을 위한 성실한 의무를 진다. 국회에서 의결된 법률안은 정부에 이송되어 15일 이내에 대통령이 공포한다. 국가는 주택개발정책등을 통하여 모든 국민이 쾌적한
              주거생활을 할 수 있도록 노력하여야 한다.
            </p>
            <p class="date">2022-05-09</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
<!-- news end -->
<section id="customer" class="section">
  <div class="titleBox">
    <h2>CUSTOMER CENTER</h2>
    <p>
      하이탑의 포장기법은 지역적, 환경적 특성을 고려한 디자인으로<br />
      고객이 원하는 모든 곳을 새로운 문화, 새로운 랜드마크로 만들어드립니다.
    </p>
  </div>
  <div class="container">
    <div class="btns">
      <a href="" class="btn">견적문의 바로가기</a>
    </div>
  </div>
  <!-- 버튼같은거 만들때 되도록이면 부모로 감싸기 btns같은 -->
</section>
<!-- customer end -->

<script>
  Splitting();
  // 글자하나하나쪼개는 라이브러리 css ,js링크연결후사용

  const pause = document.querySelector("#mainVisual .pause");
  const play = document.querySelector("#mainVisual .play");
  pause.addEventListener("click", function () {
    mainVisualSlider.autoplay.stop();
    play.style.display = "block";
    pause.style.display = "none";
  });
  play.addEventListener("click", function () {
    mainVisualSlider.autoplay.start();
    play.style.display = "none";
    pause.style.display = "block";
  });

  const mainVisualTL = gsap.timeline();
  // 딜레이계산없이 순서대로모션진행 딜레이걸어도되긴함 근데굳이
  // mainVisualTL
  //   .from("#mainVisual .slogan h2 .char", { y: 100, opacity: 0, duration: 0.5, ease: "none.out", stagger: 0.02 })
  //   .from("#mainVisual .slogan p .char", { y: 100, opacity: 0, duration: 0.5, ease: "none.out", stagger: 0.02 }, 0.5);
  // 두개사이에 시간간격을 줄이고싶을때 다음에등장하는 것 }에 ,찍고 시간적으면 그시간에 바로시작하겠다는 것 ex)1이면 애니메이션 상관없이 절대시간1초, 1초뒤에바로시작
  // 절대시간을 "" 안에쓰면 내 바로 앞에것의대한 상대시간
  // 두개연결시킬때는 사이에 , ; 금지

  mainVisualTL
    .from("#mainVisual .slogan h2 .char", { y: 100, opacity: 0, duration: 0.5, delay: 0.5, ease: "none.out", stagger: 0.02 })
    .from("#mainVisual .slogan p .char", { y: 100, opacity: 0, duration: 0.5, ease: "none.out", stagger: 0.02 }, "1");

  const mainVisualSlider = new Swiper("#mainVisual", {
    // loop: true,
    effect: "fade",
    loop: true,
    speed: 1000,

    navigation: {
      nextEl: "#mainVisual .next",
      prevEl: "#mainVisual .prev",
    },
    pagination: {
      el: "#mainVisual .pagination .bullets",
      type: "bullets",
      clickable: true,
    },
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    },
  });
  new Swiper("#news .container", {
    slidePerView: 1,
    spaceBetween: 20,
    breakpoints: {
      800: {
        slidesPerView: 2,
      },
      1200: {
        slidesPerView: 3,
      },
    },
  });
</script>
<%- include("./include/footer") %>
