<%- include("./include/header") %>
<div class="subVisual" id="subVisual01">
  <div class="titleBox">
    <h2 class="subTitle">Company</h2>
    <p>우리는, 도시경관사업의 최고기업이 되고 시장을 선도한다!</p>
  </div>
  <nav id="lnb">
    <div class="container">
      <a href="/" class="home">HOME</a>
      <div class="depth01 menu">
        <button>company</button>
        <%- include("./include/depth01") %>
      </div>
      <div class="depth02 menu">
        <button>사업개요</button>
        <%- include("./include/lnb01") %>
      </div>
    </div>
  </nav>
</div>
<div class="subContents">
  <h3 class="contentsTitle">회사소개</h3>
  <div class="contents" id="introduce">
    <div class="container">
      <div class="summaryBox">
        <div class="txtBox">
          <p class="main">
            HIGH TECHNOLOGY <br />
            TOP CLASS
          </p>
          <p class="sub">
            최고의 기술을 가진, 최상의 조직이라는 <br />
            의미를 가지고 있는 HITOP
          </p>
        </div>
        <img src="../images/contents/titleImgBox_summary.jpg" alt="" />
      </div>
      <div class="desc">
        <div class="headTxt">
          <p>
            아름답고 쾌적한 거리, 안전하고 차별화된 공간 <br />
            <strong
              >자연을 닮은 제품을 제공하는
              <span class="red">하이탑!</span></strong
            >
          </p>
        </div>
        <div class="txtBox">
          <p>
            저희 하이탑은, 21세기 뉴밀레니엄과 함께 사업을 시작하여 오늘에
            이르고 있는 특수포장건설 및 도시경관 관련사업 전문기업입니다.
            하이탑은 기능성과 친환경성을 포괄하는 특수포장건설이라는 새로운
            건설분야를 한국에 처음으로 개척하여 정립하였고, 이제는 시장을 선도해
            나가는 리더기업입니다.
          </p>
          <p>
            쾌적하고 여유로운 도시공간, 안전하고 편리하면서도 친환경적인
            도시경관을 만들기 위해 친환경 소재를 바탕으로 첨단공법과 글로벌
            역량확보를 구축하여 고객 여러분에게 최상의 가치를 제공하기 위해
            하이탑의 노력은 끊임 없이 계속되고 있습니다.
          </p>
          <p>
            21세기 시대 트렌드에 부합하는 친환경 특수포장공법과 도시경관사업
            분야의 전문 기업인 하이탑은 지난 십 수년 동안 끊임없는 연구와
            기술개발을 통해 특수포장건설 분야의 다양한 제품개발은 물론 특허와
            각종인증을 통해 제품과 기술력의 우수성을 국내외에서 널리 인증 받고
            있습니다.
          </p>
          <p>
            하이탑은 새롭고 창의적인 기술과 공법으로 완벽한 제품개발, 경제적인
            시공, 독특한 세련미, 친환경적인 소재를 바탕으로 한 고품질 제품
            개발을 통해 언제나 고객 여러분께 최고의 제품과 공법을 제공해 드릴
            것을 약속하겠습니다.
          </p>
          <p>
            기존의 획일적이고 경직된 건설문화를 보다 더 소프트하게 운용하여 인간
            중심적이고 환경지향적인, 도심 속에 경관미와 실용성을 조성하고
            인간에게 편안함을 제공하기 위한 건설문화와 도시 환경개선을 위해
            노력하겠습니다.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $.ajax({ url: "http://127.0.0.1:8099/list" }).done(function (response) {
    console.log(response);
  });
</script>
<%- include("./include/footer") %>
