<%- include("./include/header") %>
<div class="subVisual" id="subVisual04">
  <div class="titleBox">
    <h2 class="subTitle">Customer</h2>
    <p>우리는, 도시경관사업의 최고기업이 되고 시장을 선도한다!</p>
  </div>
  <nav id="lnb">
    <div class="container">
      <a href="/" class="home">HOME</a>
      <div class="depth01 menu">
        <button>company</button>
        <%- include("./include/depth01") %>
      </div>
      <div class="depth02 menu">
        <button>사업개요</button>
        <%- include("./include/lnb01") %>
      </div>
    </div>
  </nav>
</div>

<div class="subContents">
  <h3 class="contentsTitle">나라장터 등록물품</h3>
  <div class="contents" id="market">
    <div class="container">
      <table class="boardTable">
        <colgroup>
          <col style="width: 25%" />
          <col style="width: 15%" />
          <col style="width: 25%" />
          <col style="width: 15%" />
          <col style="width: 20%" />
        </colgroup>

        <thead class="marketHead">
          <tr>
            <th scope="column">품명</th>
            <th scope="column">식별번호</th>
            <th scope="column">규격</th>
            <th scope="column">두께</th>
            <th scope="column">바로가기</th>
          </tr>
        </thead>
        <tbody class="marketBody">
          <tr>
            <td rowspan="4" class="imgTxt">
              <img src="../images/market/_IMAGES1.jpg" alt="" />
              <p>체육시설용탄성포장재 30129999</p>
            </td>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td rowspan="12" class="imgTxt">
              <img src="../images/market/_IMAGES2.jpg" alt="" />
              <p>흙콘크리트 30111595</p>
            </td>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td rowspan="3" class="imgTxt">
              <img src="../images/market/_IMAGES3.jpg" alt="" />
              <p>어린이놀이시설 탄성포장재 30129999</p>
            </td>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td rowspan="4" class="imgTxt">
              <img src="../images/market/_IMAGES4.jpg" alt="" />
              <p>미끄럼방지 30129998</p>
            </td>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td rowspan="6" class="imgTxt">
              <img src="../images/market/_IMAGES5.jpg" alt="" />
              <p>도장형바닥재 30129997</p>
            </td>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td>
              <a href="">바로가기</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include("./include/footer") %>
