<%- include("./include/header") %>
<div class="subVisual" id="subVisual04">
  <div class="titleBox">
    <h2 class="subTitle">Customer</h2>
    <p>우리는, 도시경관사업의 최고기업이 되고 시장을 선도한다!</p>
  </div>
  <nav id="lnb">
    <div class="container">
      <a href="/" class="home">HOME</a>
      <div class="depth01 menu">
        <button>company</button>
        <%- include("./include/depth01") %>
      </div>
      <div class="depth02 menu">
        <button>사업개요</button>
        <%- include("./include/lnb01") %>
      </div>
    </div>
  </nav>
</div>
<div class="subContents">
  <h3 class="contentsTitle">공지사항</h3>
  
  
  <div class="subContents">
    <div class="contents" id="notice">
      <div class="container">
        <div id="news">
          <ul class="list">
            <li>
              <a href="">
                <img src="../images/main/news01.jpg" alt="" />
                <div class="desc">
                  <h3>선거휴무공지 가나다마라말나라나란라나란라나라ㅏ</h3>
                  <p class="txt">
                    대통령은 조국의 평화적 통일을 위한 성실한 의무를 진다. 국회에서 의결된 법률안은 정부에 이송되어 15일 이내에 대통령이 공포한다. 국가는 주택개발정책등을 통하여 모든 국민이 쾌적한
                    주거생활을 할 수 있도록 노력하여야 한다.
                  </p>
                  <p class="date">2022-05-09</p>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <img src="../images/main/news02.jpg" alt="" />
                <div class="desc">
                  <h3>선거휴무공지</h3>
                  <p class="txt">
                    대통령은 조국의 평화적 통일을 위한 성실한 의무를 진다. 국회에서 의결된 법률안은 정부에 이송되어 15일 이내에 대통령이 공포한다. 국가는 주택개발정책등을 통하여 모든 국민이 쾌적한
                    주거생활을 할 수 있도록 노력하여야 한다.
                  </p>
                  <p class="date">2022-05-09</p>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <img src="../images/main/news03.jpg" alt="" />
                <div class="desc">
                  <h3>선거휴무공지</h3>
                  <p class="txt">
                    대통령은 조국의 평화적 통일을 위한 성실한 의무를 진다. 국회에서 의결된 법률안은 정부에 이송되어 15일 이내에 대통령이 공포한다. 국가는 주택개발정책등을 통하여 모든 국민이 쾌적한
                    주거생활을 할 수 있도록 노력하여야 한다.
                  </p>
                  <p class="date">2022-05-09</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <table class="boardTable">
          <colgroup>
          <col style="width: 5%" />
          <col />
          <col style="width: 15%" />
          <col style="width: 15%" />
          </colgroup>
          <thead>
            <tr>
              <th scope="column">번호</th>
              <th scope="column">제목</th>
              <th scope="column">작성자</th>
              <th scope="column">날짜</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td class="subject">제목이 들어갑니다.</td>
              <td>관리자</td>
              <td>2022.05.18</td>
            </tr>
            <tr>
              <td>1</td>
              <td class="subject">제목이 들어갑니다.</td>
              <td>관리자</td>
              <td>2022.05.18</td>
            </tr>
            <tr>
              <td>1</td>
              <td class="subject">제목이 들어갑니다.</td>
              <td>관리자</td>
              <td>2022.05.18</td>
            </tr>
            <tr>
              <td>1</td>
              <td class="subject">제목이 들어갑니다.</td>
              <td>관리자</td>
              <td>2022.05.18</td>
            </tr>
            <tr>
              <td>1</td>
              <td class="subject">제목이 들어갑니다.</td>
              <td>관리자</td>
              <td>2022.05.18</td>
            </tr>
            <tr>
              <td>1</td>
              <td class="subject">제목이 들어갑니다.</td>
              <td>관리자</td>
              <td>2022.05.18</td>
            </tr>
            <tr>
              <td>1</td>
              <td class="subject">제목이 들어갑니다.</td>
              <td>관리자</td>
              <td>2022.05.18</td>
            </tr>
            <tr>
              <td>1</td>
              <td class="subject">제목이 들어갑니다.</td>
              <td>관리자</td>
              <td>2022.05.18</td>
            </tr>
            <tr>
              <td>1</td>
              <td class="subject">제목이 들어갑니다.</td>
              <td>관리자</td>
              <td>2022.05.18</td>
            </tr>
            <tr>
              <td>1</td>
              <td class="subject">제목이 들어갑니다.</td>
              <td>관리자</td>
              <td>2022.05.18</td>
            </tr>
          </tbody>
        </table>
        <div class="pagination">
          <a href="" class="first"></a>
          <a href="" class="prev"></a>
          <ul>
            <li><a href="" class="active">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li class="hide"><a href="">6</a></li>
            <li class="hide"><a href="">7</a></li>
            <li class="hide"><a href="">8</a></li>
            <li class="hide"><a href="">9</a></li>
            <li class="hide"><a href="">10</a></li>
          </ul>
          <a href="" class="next"></a>
          <a href="" class="last"></a>
        </div>
        <form action="" method="" class="searchForm">
          <select name="" id="searchCategory">
            <option value="">제목</option>
            <option value="">작성자</option>
            <option value="">내용</option>
          </select>
          
          <input type="text" name="" id="searchTxt">
          <button>검색</button>
        </form>
        
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("./include/footer") %>