<%- include("./include/header") %>
<div class="subVisual" id="subVisual01">
  <div class="titleBox">
    <h2 class="subTitle">Company</h2>
    <p>우리는, 도시경관사업의 최고기업이 되고 시장을 선도한다!</p>
  </div>
  <nav id="lnb">
    <div class="container">
      <a href="/" class="home">HOME</a>
      <div class="depth01 menu">
        <button>company</button>
        <%- include("./include/depth01") %>
      </div>
      <div class="depth02 menu">
        <button>사업개요</button>
        <%- include("./include/lnb01") %>
      </div>
    </div>
  </nav>
</div>
<div class="subContents">
  <h3 class="contentsTitle">경영이념</h3>
  <div class="contents" id="phillosophy">
    <div class="container">
      <div class="conBox">
        <img src="../images/contents/titleImgBox_philosophy.jpg" alt="" />
        <div class="txtBox">
          <p class="main">Construction star</p>
          <p class="sub">
            도시경관사업의 최고기업,<br />
            시장을 선도하는<strong> 하이탑</strong>
          </p>
          <p class="sub2">
            하이탑은 다음과 같은 3대 경영전략과 5대 실천 전략을<br />
            실천하고 있습니다.
          </p>
        </div>
      </div>

      <div class="conBox2">
        <dl class="txtBox2">
          <dt class="title">3대 경영전략</dt>
          <dd>
            하이탑은 창의적인 도전정신을 바탕으로 특수포장재라는 대한민국 건설의 새로운 부분을 개척하였고, 친환경·최첨단의 제품 개발과 <br />
            고품질의 도시경관용 건자재를 통하여 사회와 국가에 공헌하고 주주와 고객 그리고 건설 문화에 이바지하고자 최선을 다하고 있습니다.
          </dd>
        </dl>
        <ul class="subTxt">
          <li>
            <img src="../images/contents/philosophy_conBox01_icon01.png" alt="" />

            <div class="txtBox">
              <h3>신뢰경영</h3>
              <p>
                신뢰경영을 실천함으로써 인간존중의 정신을 <br />
                토대로 인간미 넘치는 노사관계와 상하간의<br />
                신뢰관계를 더욱 공고히 함과 동시에 고객과<br />
                사업파트너의 기대와 믿음에 부응하고자 합니다.
              </p>
            </div>
          </li>

          <li>
            <img src="../images/contents/philosophy_conBox01_icon02.png" alt="" />

            <div class="txtBox">
              <h3>인재중시경영</h3>
              <p>
                인재중시경영을 통하여 기업의 생명이 <br />
                인재라는 인식을 더욱 공고히 하고 뛰어난 인재의<br />
                양성으로 최고의 제품을 고객에게 나눌 수 있는<br />
                참된 기업이 되고자 합니다.
              </p>
            </div>
          </li>
          <li>
            <img src="../images/contents/philosophy_conBox01_icon03.png" alt="" />

            <div class="txtBox">
              <h3>품질경영</h3>
              <p>
                품질경영을 실시하여 한번 찾은 고객은 영원한<br />
                고객으로 섬김과 동시에 글로벌화 되어가고<br />
                더욱 치열해지는 무한 경쟁의 시장에서<br />
                찬란히 빛나는 하이탑이 되고자 합니다.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="conBox3">
      <div class="title">
        <h3>5대 실천전략</h3>
      </div>
      <div class="inner">
        <ul class="txtBox3">
          <li class="txt">
            <div class="sub">
              <h4><span>01</span> 블루오션의 개척</h4>
              <p>
                끊임 없는 제품 개발을 통하여 최고의 특화된 제품으로<br />
                고객을 만족시키고 부가가치 제품과 최고만족의 제품을<br />
                고객에게 제공하면서 전문화되고 차별화된 특수바닥 포장재<br />
                기업으로서의 블루오션을 개척하고자 합니다.
              </p>
            </div>
            <img src="../images/contents/philosophy_conBox02_img01.jpg" alt="" />
          </li>
          <li class="txt right">
            <div class="sub">
              <h4><span>01</span> 블루오션의 개척</h4>
              <p>
                끊임 없는 제품 개발을 통하여 최고의 특화된 제품으로<br />
                고객을 만족시키고 부가가치 제품과 최고만족의 제품을<br />
                고객에게 제공하면서 전문화되고 차별화된 특수바닥 포장재<br />
                기업으로서의 블루오션을 개척하고자 합니다.
              </p>
            </div>
            <img src="../images/contents/philosophy_conBox02_img02.jpg" alt="" />
          </li>
          <li class="txt">
            <div class="sub">
              <h4><span>01</span> 블루오션의 개척</h4>
              <p>
                끊임 없는 제품 개발을 통하여 최고의 특화된 제품으로<br />
                고객을 만족시키고 부가가치 제품과 최고만족의 제품을<br />
                고객에게 제공하면서 전문화되고 차별화된 특수바닥 포장재<br />
                기업으로서의 블루오션을 개척하고자 합니다.
              </p>
            </div>
            <img src="../images/contents/philosophy_conBox02_img03.jpg" alt="" />
          </li>
          <li class="txt right">
            <div class="sub">
              <h4><span>01</span> 블루오션의 개척</h4>
              <p>
                끊임 없는 제품 개발을 통하여 최고의 특화된 제품으로<br />
                고객을 만족시키고 부가가치 제품과 최고만족의 제품을<br />
                고객에게 제공하면서 전문화되고 차별화된 특수바닥 포장재<br />
                기업으로서의 블루오션을 개척하고자 합니다.
              </p>
            </div>
            <img src="../images/contents/philosophy_conBox02_img04.jpg" alt="" />
          </li>
          <li class="txt">
            <div class="sub">
              <h4><span>01</span> 블루오션의 개척</h4>
              <p>
                끊임 없는 제품 개발을 통하여 최고의 특화된 제품으로<br />
                고객을 만족시키고 부가가치 제품과 최고만족의 제품을<br />
                고객에게 제공하면서 전문화되고 차별화된 특수바닥 포장재<br />
                기업으로서의 블루오션을 개척하고자 합니다.
              </p>
            </div>
            <img src="../images/contents/philosophy_conBox02_img05.jpg" alt="" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<%- include("./include/footer") %>
