<%- include("./include/header") %>
<div class="subVisual" id="subVisual04">
  <div class="titleBox">
    <h2 class="subTitle">Customer</h2>
    <p>우리는, 도시경관사업의 최고기업이 되고 시장을 선도한다!</p>
  </div>
  <nav id="lnb">
    <div class="container">
      <a href="/" class="home">HOME</a>
      <div class="depth01 menu">
        <button>company</button>
        <%- include("./include/depth01") %>
      </div>
      <div class="depth02 menu">
        <button>사업개요</button>
        <%- include("./include/lnb01") %>
      </div>
    </div>
  </nav>
</div>
<div class="subContents">
  <h3 class="contentsTitle">견적문의</h3>
  <div class="contents" id="">
    <div class="container">
      <div class="board">
        <div class="table view">
          <div class="thead">
            <p class="title">제목이 들어갑니다. 가나다마가나다마가나다마가나다마</p>
            <dl>
              <dt>작성자</dt>
              <dd>관리자</dd>
              <dt>등록일</dt>
              <dd>2022-06-22</dd>
            </dl>
          </div>
          <div class="tbody">
            <div class="contents">
              내용이 들어갑니다. <br />
              내용이 들어갑니다. <br />
              내용이 들어갑니다. <br />
              내용이 들어갑니다. <br />
              내용이 들어갑니다. <br />
              내용이 들어갑니다. <br />
            </div>
          </div>
        </div>
        <div class="btns right">
          <a href="javascript:history.back()" class="btn confirm">확인</a>
          <a href="javascript:history.back()" class="btn cancel">취소</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("./include/footer") %>
