<div class="pagination">
  <a href="" class="first"></a>
  <a href="" class="prev"></a>
  <ul>
    <li><a href="" class="active">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><a href="">4</a></li>
    <li><a href="">5</a></li>
    <li class="hide"><a href="">6</a></li>
    <li class="hide"><a href="">7</a></li>
    <li class="hide"><a href="">8</a></li>
    <li class="hide"><a href="">9</a></li>
    <li class="hide"><a href="">10</a></li>
  </ul>
  <a href="" class="next"></a>
  <a href="" class="last"></a>
</div>